<app-conetctnavbar></app-conetctnavbar>
<form class="signin-cont" [formGroup]="userForm" (submit)="signinUser()">
    <h1><b>Sign in</b><hr></h1>
    <label><i class="fas fa-envelope fa-lg"></i>
    <input type='text' name="email" formControlName="email" placeholder='Email' class="inp-box">
    </label>
    <label><i class="fas fa-key fa-lg"></i>
    <input type='password' name="password" formControlName="password" placeholder='Password' class="inp-box">
   </label>
    <button class="signin-bott">Connexion</button>

</form>

<div>
<h1><b><u>Our Sponsors</u></b></h1>
</div>
<img class="pub" src="https://bannhire.co.uk/assets/images/macienery-brands.png">
