.card{
    margin-top: -10%;
	/* margin-bottom: 1%; */
	margin-left: 2%;
	border: 1.60px solid black;
	
}

/* .myCarousel{
	height: 600px !important;
	width:100% !important;
}

.carousel-cell{
	height: 600px !important;
	width:600px !important;
	margin: 1%;
}

.card-img{
	height: 500px !important;
	width:400px !important;
}

 */
