
  <carousel class="myCarousel" [cellsToShow]=3.5 [height]=480  >
    <div class="carousel-cell" *ngFor="let item of dataList" >
      <div class="card" style="width: 35rem; height: 40rem" >
        
        
        <div class="card-body" (click)="functionON()">
          <img class="card-img-top" style="width: 60%; margin-top: -13%;" alt="Card image cap" src={{item.image}} >
          <h5 class="card-title" style="margin-top: -10%"><b>{{item.name}}</b></h5>
          
        
        </div>
       
      </div></div>
  
</carousel>
