@media screen and (min-width: 900px) {
.card{
    /* margin-top: -10%;
	/* margin-bottom: 1%; */
	/* margin-left: 2%; */ 
	border: 1px solid rgba(138, 136, 136,0.2);
	height: 350px;
	width : 350px;
	box-shadow: 8px 6px 6px rgba(138, 136, 136,0.5);
	
}

 .myCarousel{
	/* height: 600px !important;
	width:100% !important; */

	margin-left: 0.5%;
	padding-left: 3%;
	padding-right: 2%;
	

}
.carousel-container {
	padding-top: 2%;
}
/*

.carousel-cell{
	height: 600px !important;
	width:600px !important;
	margin: 1%;
}

.card-img{
	height: 500px !important;
	width:400px !important;
}

 */

h4{
	margin-top: 9%;
	margin-bottom: -0.03%;
	margin-left: 3.5%;
	font-size:15px;
	color:darkorange;
}
h2{
	margin-left: 3.5%;
	font-size:30px;
	color: rgb(90, 89, 89)
	
}
.card-title{
	font-size:22px;
	font-weight: bold;
	color: rgb(56, 55, 55);
	
}

.carousel-cell{
	margin: 0 auto;
	
}

.card-img-top{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 300px;
}
}