@media screen and (min-width: 900px) {
.card{
    /* margin-top: -10%;
	/* margin-bottom: 1%; */
	/* margin-left: 2%; */ 
	border: 1px solid grey;
	height: 350px;
	width : 350px;
	box-shadow: 3px 3px 3px 3px grey;
	
}

 .myCarousel{
	/* height: 600px !important;
	width:100% !important; */

	margin-left: 0.5%;
	padding-left: 3%;
	padding-right: 2%;

}
/*
.carousel-cell{
	height: 600px !important;
	width:600px !important;
	margin: 1%;
}

.card-img{
	height: 500px !important;
	width:400px !important;
}

 */

h4{
	margin-top: 9%;
	margin-left: 3.5%;
	font-size:15px;
	color:darkorange;
}
h2{
	margin-left: 3.5%;
	font-size:30px;
	color: rgb(90, 89, 89)
	
}

.carousel-cell{
	margin: 0 auto;
	
}

.card-img-top{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-height: 300px;
}
}