.card{
    /* margin-top: -10%;
	/* margin-bottom: 1%; */
	/* margin-left: 2%; */ 
	border: 1.5px solid grey;
	
}

 .myCarousel{
	/* height: 600px !important;
	width:100% !important; */
	margin-top: 10%;
	margin-left: 0.5%;
	padding-left: 3%;

}
/*
.carousel-cell{
	height: 600px !important;
	width:600px !important;
	margin: 1%;
}

.card-img{
	height: 500px !important;
	width:400px !important;
}

 */
