<app-navbar></app-navbar>


  <carousel class="myCarousel" [cellsToShow]=4>
    <div class="carousel-cell" *ngFor="let item of dataList" >
      <div class="card" style="width: 25rem; height: 40rem" >
        
        
        <div class="card-body" (click)="functionON()">
          <img class="card-img-top" style="width: 65%; margin-top: -20%;" alt="Card image cap" src={{item.image}} >
          <h5 class="card-title" style="margin-top: -30%"><b></b>{{item.name}}</h5>
          </div>
      </div>
    </div>
        
</carousel>
