
.card-box {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 30px;
  background-color: #fff;
  width: 188px;
  border: 1px solid #3498DB;
  max-height: 270px;
  margin-right: 1em;
  margin-top: 5em;
}
.thumb-lg {
  height: 88px;
  width: 88px;
}
h4 {
  line-height: 22px;
  font-size: 20px;
  margin-left: 4px;
}
.container{
  display: flex;
}
.content{
  margin-left: 25%;
}
.fullname{
  display: flex;
}