

<div class="mynav">

    <!--Navbar-->
    <mdb-navbar  SideClass="navbar navbar-expand-lg navbar-dark " [containerInside]="false" >

      <mdb-navbar-brand><img  src="../../../assets/output.png" class="img-fluid" type="button" (click)="goToHom()"><a class="navbar-brand" href="#"> </a></mdb-navbar-brand>

      <links>
->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link link1 waves-light" mdbWavesEffect (click)="goToHom()"> <b><h2>HOME</h2></b><span class="sr-only"></span></a>
          </li>
          <li class="nav-item" >
            <a class="nav-link link2 waves-light" mdbWavesEffect  (click)="goToHom()"><b><u></u></b> </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link link3 waves-light" mdbWavesEffect    (click)="rediract()"><b><h2>USERS INFORMATION</h2></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link3 waves-light" mdbWavesEffect   (click)="update()"><b><h2>UPDATE PRODUCT</h2></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link3 waves-light" mdbWavesEffect   (click)="goToHomt()"><b><h2>ADD PRODUCT</h2></b></a>
          </li>
          <li class="nav-item">

            <a class="nav-link link3 waves-light" mdbWavesEffect   (click)="logout()"><b><h2>LOG OUT</h2></b></a>

          </li>
    
        </ul>
      </links>
    </mdb-navbar>
    </div>
