

<div class="mynav">

    <!--Navbar-->
    <mdb-navbar  SideClass="navbar navbar-expand-lg navbar-dark " [containerInside]="false" >

      <mdb-navbar-brand><img  src="../../../assets/output.png" class="img-fluid" type="button" (click)="goToHome()"><a class="navbar-brand" href="#"> </a></mdb-navbar-brand>

      <links>
->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item ">
            <a class="nav-link link1 waves-light" mdbWavesEffect (click)="goToHome()"> <b><u>Home</u></b><span class="sr-only"></span></a>
          </li>
          <li class="nav-item" >
            <a class="nav-link link2 waves-light" mdbWavesEffect  (click)="goToHome()"><b><u></u></b> </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link link3 waves-light" mdbWavesEffect   (click)="goToHome()"><b><u>USERS INFORMATION</u></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link3 waves-light" mdbWavesEffect   (click)="goToHome()"><b><u>UPDATE PRODUCT</u></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link3 waves-light" mdbWavesEffect   (click)="goToHome()"><b><u>ADD PRODUCT</u></b></a>
          </li>
          <li class="nav-item">
            <a class="nav-link link3 waves-light" mdbWavesEffect   (click)="logout()"><b><u>LOG OUT</u></b></a>
          </li>
    
        </ul>
      </links>
    </mdb-navbar>
    </div>
