@media screen and (min-width: 900px) {
.example-spacer {
  flex: 1 1 auto;
}
.mat-toolbar-row, .mat-toolbar-single-row {
  /* margin-left: -0.8em; */
  width: 100%;
  background-color: #184a7c
  
}

/* SIGNUP BUTTON*/
section {
  display: table;
}
.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}
.example-button-row {
  display: table-cell;
  width: 490px;
}
.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}
.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
.mat-raised-button.mat-warn {
  background-color: #0066cc;
}
.warn:hover{
    font-size: 30px;
}
.nav-image{
  height: 400px;
  width: 100%;
}
.backgbox{
    max-width:100%;
    min-width: 100%;
    max-height: 400px;
   min-height: 400px;
}
.backg-text{
    font-size: 50px;
    margin-top: -6em;
    color: white;
    font-family: Helvetica;
    margin-left: 3em;
    text-shadow: 2px 1px black;
}
.logo{
    height: 85px;
    margin-top: 15px;
}
.search-input{
    margin-left: 37em;
    margin-top: 3em;
    width: 28em;
    height: 3em;
    border-radius: 11px;
    opacity: 0.9;
    border: none;
    font-size: 15px;
}
.search-input:hover{
    opacity: 1;
    font-weight: bold;
}
.search-icon{
    opacity: 0.8;
    margin-left: -3em;
}

}