
@media screen and (min-width: 900px) {
  .example-spacer {
    flex: 1 1 auto;
  }
.example-spacer {
  flex: 1 1 auto;
}
.nav-link{
  font-size: 18px;

}  
.img-fluid{
  width: 18%;
  height:auto;
  border-radius:15%;
  
} 
.link1{
  cursor: pointer;
  /* margin-left: -60%; */
  cursor: pointer;

}

.mynav{
  background-image: url("../../../assets/banner.jpg");
  background-attachment: cover;
}
}
