    <div class="container" (submit)="showbnin()">
      <h1 class="h1">EQUIPMENT</h1>
          <h1 class="h2">Quality equipment, ready to go</h1>
        <div class="row" >
          
          <div class="col-sm" *ngFor="let data of mydata" id="{{data._id}}">
              <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <div class="bin" *ngIf="showBin">
                  <i class="far fa-trash-alt" (click)="click(data._id)"></i>
                </div>
                <mat-card-title (click)="update()">{{data.name}}</mat-card-title>
                <mat-card-subtitle>{{data.type}}</mat-card-subtitle>
              </mat-card-header>
              <img  (click)="functionON()"   mat-card-image src={{data.imageurl}} alt="Photo of a Shiba Inu">
              <mat-card-subtitle>{{data.price}}</mat-card-subtitle>
              <mat-card-content>
                <p>
                 {{data.description.slice(0,data.description.indexOf('.')) +' ...'}}
                </p>
              </mat-card-content>
              <mat-card-content class="md-padding" layout-xs="column" layout="row"></mat-card-content>
            </mat-card>     
          </div>      
        </div>
      </div>
                    
      
      