
    <div class="container">
        <div class="row">
            
          <div class="col-sm">
              <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title ></mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <img    mat-card-image src="https://www.unitedrentals.com/sites/default/files/styles/square_1_1_414x414/public/category/904/904-4520_1.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
              
              <mat-card-content class="md-padding" layout-xs="column" layout="row"></mat-card-content>
            </mat-card> 
           
          </div>
          <div class="col-sm">
            <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Shiba Inu</mat-card-title>
                <mat-card-subtitle>Dog Breed</mat-card-subtitle>
              </mat-card-header>
              <img (click)="functionON()" mat-card-image src="https://www.unitedrentals.com/sites/default/files/styles/square_1_1_414x414/public/category/310/310-4048_0.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                  A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                  bred for hunting.
                </p>
              </mat-card-content>
              
              <mat-card-content class="md-padding" layout-xs="column" layout="row"></mat-card-content>
            </mat-card> 
          </div>
          <div class="col-sm">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image src="https://www.unitedrentals.com/sites/default/files/styles/square_1_1_414x414/public/category/300/300-0750_0.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    <p>
                      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                      bred for hunting.
                    </p>
                  </mat-card-content>
                  
                  <mat-card-content class="md-padding" layout-xs="column" layout="row"></mat-card-content>
                </mat-card> 
          </div>
        </div>
        <!-- <option *ngFor="let option of img" >
            {{option}}
          </option> -->
          
            
          
      </div>
                    
      
      