<app-card-product></app-card-product>
    <div class="container">
        <div class="row" *ngFor="let data of mydata">
            
          <div class="col-sm">
              <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title >{{data.name}}</mat-card-title>
                <mat-card-subtitle>{{data.type}}</mat-card-subtitle>
              </mat-card-header>
              <img    mat-card-image src={{data.imageurl}} alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                 {{data.description}}
                </p>
              </mat-card-content>
              
              <mat-card-content class="md-padding" layout-xs="column" layout="row"></mat-card-content>
            </mat-card> 
           
          </div>
          
        </div>
        <!-- <option *ngFor="let option of img" >
            {{option}}
          </option> -->
          
            
          
      </div>
                    
      
      