.container1{
    width: 400px;
    
    margin-left: 35%;
    border-radius: 3%;
  }
  .create-editor {
    width: 100%;
    
  }
  .create-input {
    width: 100%;
    font-size: .9em;
    height: 30px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    outline-color:#9ed2f7
    
  }
  .create-submit-button {
    margin-top: 15px;
    font-size: 15px;
    height: 30px;
    text-align: center;
    
  }

  button {
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-family: 'PT Serif', sans-serif;
    color: #ECF0F1;
    background-color: #32CD32;

    
  }
  h2{
    margin-left: 43%;
    color:#1c8adb;
    font-size: 22px;
    font-size: bold;

  }
  .card-product {
    border: 0.5px;
  
    width: 30em;
    height: 30%;
    cursor: pointer;
    margin-left: 47.2em;
    margin-bottom: 5%;
    box-shadow: 0px 8px 6px 3px rgba(115, 113, 113, 0.25);
  }
  #card-image {
    max-width: 150px;
    min-width: 150px;
    min-height: 150px;
    max-height:150px ;
    margin-top: 50%;
    margin-right: 3%;

  }
  .card-body{
 display: inline-block;
    margin-left: 0.1rem;
    font-size: 25px;
    padding: 13%;
    margin-bottom:10.05%;
  }
  .card-title{
    font-weight: bold ! important;
    font-size:25px;
  }
  .card-text{
    margin-top: -7%;
  }
  
  .text{
   font-size: 10px;
   font-family: Arial, Helvetica, sans-serif;
 
  }
  p{
    font-size: 12px ! important;
  }
 