.container1{
    width: 400px;
    height: 0;
    margin-left: 35%;
    border-radius: 3%;
  }
  .create-editor {
    width: 100%;
    
  }
  .create-input {
    width: 100%;
    font-size: .9em;
    height: 30px;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 6px;
    
  }
  .create-submit-button {
    margin-top: 15px;
    font-size: 15px;
    height: 30px;
    text-align: center;
    
  }

  button {
    cursor: pointer;
    width: 100%;
    border: none;
    border-radius: 6px;
    font-family: 'PT Serif', sans-serif;
    color: #ECF0F1;
    background-color: #32CD32;

    
  }
  h2{
    margin-left: 43%;
    color:#1c8adb;
    font-size: 22px;
    font-size: bold;

  }
