

.nav-link{
    font-size: 18px;
  
  }  
  .img-fluid{
    width: 18%;
    height:auto;
    border-radius:15%;
    
  } 
  .link1{
    /* margin-left: -60%; */
    cursor: pointer;
  
  }
  .link2{
    /* margin-left: -30%; */
  }
  .link3{
    /* margin-left: -10%; */
  }
  .mynav{
    background-image: url("../../../assets/banner.jpg")
  }
  


    
  
  

