<form class="signup-cont" [formGroup]="UserForm" (submit)="signupUser()">
    <h1> SIGNUP NOW</h1> 
    <input class="inp-box" type="text" name="username"  formControlName="firstName" placeholder="First name">
    <input class="inp-box" type="text" name="lastname"  formControlName="lastName" placeholder="Last name">
    <input class="inp-box" type="text" name="email"  formControlName="email" placeholder="Email">
    <input class="inp-box" type="text" name="password"  formControlName="password" placeholder="Password">
    <input class="inp-box" type=text name="phonenumber"  formControlName="phoneNumber" placeholder="Phone Number">
    <button class="signup-bott"> SIGNUP </button>
</form>
