.signup-cont{
    display: inline-grid;
    margin-left: 42em;
    width: 350px;
    box-shadow: 0 0 3pc 0 rgba(0, 0, 0, 0.3);
    background-color: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
    margin-left: 38em;
    margin-top: 2em;
}

.inp-box{
    border-radius: 20px;
    padding: 10px;
    margin:10px 0;
    width: 100%;
    border: 1px solid #999;
    outline: none;
}
.signup-bott{
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: #1c8adb
}