<form class="signup-cont" #simpleForm="ngForm">
    <h1> SIGNUP NOW</h1> 
    <input class="inp-box" type="text" name="username"  placeholder="First name">
    <input class="inp-box" type="text" name="lastname"  placeholder="Last name">
    <input class="inp-box" type="text" name="email"  placeholder="Email">
    <input class="inp-box" type="text" name="password"  placeholder="Password">
    <input class="inp-box" type=text name="phonenumber"  placeholder="Phone Number">
    <button class="signup-bott"> SIGNUP </button>
</form>
