<app-logoutnavbar></app-logoutnavbar>
<div class="container1">
<div class="create">
	<div class="create-editor">
	  <h2>Add Product</h2>
	  <form [formGroup]="productForm">
		<input class="create-input" type="text"  placeholder="Name" formControlName="name"/>
		<input class="create-input" type="text"  placeholder="Image URL" formControlName="imageurl"/>
		<input class="create-input" type="text"  placeholder="Price" formControlName="price"/>
		<input class="create-input" type="text"  placeholder="Type" formControlName="type"/>
		<textarea class="create-body-textarea"  placeholder="Description" formControlName="description"></textarea>
		<button class="create-submit-button" type="submit" (click)="submit()"><b>Save post</b></button>
	  </form>
	</div>
  </div>
  </div>
